.parent {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr repeat(3, 0);
  grid-template-rows: 1fr repeat(4, 0);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { 
      grid-area: 1 / 1 / 6 / 2;
  }
  .div2 { grid-area: 1 / 2 / 6 / 6; }


